.SliderContainer {
  background-color: #e7e7e7;
  padding: 26px;
  .imgs {
    position: relative;
    .textBox {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 50%;
      height: 50%;
      position: absolute;
      top: 45%;
      left: 15%;
      h2 {
        font-size: 85px;
      }
      button {
        width: 200px;
        height: 60px;
        background-color: #ff2143;
        border: none;
        color:white;
      }
    }
  }
}
