.footer{
    max-width: 100vw;
    height: 78px;
    background-color: black;
    &_container{
        max-width: 60%;
        height: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        span{
            color: red;
        };
        .icns{
            display: flex;
            gap: 15px;
            i{cursor: pointer;
            transition: 300ms;
            &:hover{

                color: red;
            }}
            
        }
    }
}